[Desktop Entry]
Name=Xosview
Comment=OS Stats Viewer
Comment[pl]=Podgląd statystyk systemowych
Exec=/usr/X11R6/xosview
Terminal=0
Type=Application
# vi: encoding=utf-8
